<!-- Four -->
  <section id="four" class="wrapper alt style1">
    <div class="inner">
      <h2 class="major">Services</h2>
      <p>{{ .Site.Params.serviceDescription }}</p>
      <section class="features">

      {{ range $index, $element :=  where .Data.Pages "Section" "services" }}
          <article>
            <a href="#" class="image"><img src="img/{{ .Params.img }}" alt="" /></a>
            <h3 class="major">{{ .Title }}</h3>
            <p>{{ .Params.description }}</p>
            <a href="#" class="special">Learn more</a>
          </article>
       {{ end }}

       </section>
       <ul class="actions">
        <li>
            <a href="#" class="button">Browse All</a>
        </li>
      </ul>
    </div>
  </section>
